*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #312622;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.logo img{
    width: 8rem;
}
.list{
    display: flex;
}
ul{
    display: flex;
    color: rgb(216, 207, 207);
    list-style: none;
    font-weight: 300;
}
ul li{
    margin-right: 40px;
}
button{
    border: 1px solid #fce412;
    color: #fce412;
    background-color: #312622;
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: -5px;

}
main{
 width: 84%;
 margin: 40px auto;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.container h1{
font-size: 4rem;
color: rgb(255, 255, 255);
width: 45%;
}
.container p{
    color: rgb(255, 255, 255);
    width: 33%;
    }

.banner{
    width: 88%;
    margin: 40px auto;
    
}

.banner img{
    width: 74vw;
    height: 70vh;

}